$primary-color-1: hsl(322, 100%, 66%);
$primary-color-2: hsl(321, 100%, 78%);
$primary-color-3: hsl(0, 100%, 63%);
$neutral-color-1: hsl(192, 100%, 9%);
$neutral-color-2: hsl(207, 100%, 98%);
$neutral-color-3: #7e8d94;
$btn-shadow: hsla(192, 64%, 11%, 0.15);
$icon-hover: rgb(0, 153, 255);
