@use "../abstracts/variables" as *;

.form__input {
  width: 21.5rem;
  height: 2.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  padding-left: 0.9rem;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
